* {
    font-family: "Chela One";
    letter-spacing: 0.2rem;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url('./img/ea2d2780557ea371b9f386c5e3ea4b57.jpg') no-repeat center center /cover;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: larger;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    color: rgb(250, 213, 213);
    z-index: 1;

    border: 2px solid rgb(255, 73, 103);
    transition: 0.3s;
}

.card h1{
    -webkit-text-stroke: 0.5px rgb(255, 83, 112);
    font-size: 1.5rem;
}

.small{
    width: 100px;
    transition: 0.3s;
}
.normal{
    width: 200px;
    transition: 0.3s;
}
#main-img{
    transform: translateY(20px);
    z-index: 0;
}

.hide {
    display: none; 
}


.button, .button-2{
    font-family: sans-serif;
    font-weight: bolder;
    background-color: rgb(255, 73, 103);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.button-2{
    font-size: 15px;
    display: block;
    max-width: 100px;
    margin: 20px auto 0;
}
.button:active, .button-2:active {
    transform: scale(0.9);
}
.button:hover, .button-2:hover{
    transform: scale(1.05);
}

.reg-text {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    -webkit-text-stroke: none;
    text-align: left;
    font-size: 0.9rem;
}

.lyric-text {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: smaller;
    -webkit-text-stroke: none;
    text-align: left;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width:thin;
    margin-block: 10px;
    font-size: 0.7rem;
}

.button-lyric{
    border: none;
    padding: 2px;
    border-radius: 5px;
    background: rgb(255, 45, 80);
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
.button-lyric:hover{
    background: rgb(202, 11, 43);
}
.button-lyric:active{
    transform: scale(0.99);
}
